.ItemListConteiner {
    height: 100vh;
    background: #E37B00;
    width: 100vw;
}

h2 {
    text-align: center;
    padding-top: 5rem;
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    color: #681104;
    font-size: 3rem;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}