.boton-compra {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #681104;
    box-shadow: #e37b00 0 0 15px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    position: absolute; 
    top: 10rem;             
    right: 7rem;           
    z-index: 2;
}
a {
    text-decoration: none;
    color: white;
}
.boton-compra:hover {
    letter-spacing: 3px;
    background-color: #e37b00;
    color: hsl(0, 0%, 100%);
    box-shadow: #681104 0px 7px 29px 0px;
}

.boton-compra:active {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    transform: translateY(10px);
    transition: 100ms;
}

@media (min-width: 360px) and (max-width: 768px) {
    .boton-compra {
        font-size: 1.2rem;
        position: absolute  ;
        top: 30rem;
        left: auto;
        right: auto;
    }

    .boton-compra:active {
        letter-spacing: 1px;
    }
}