@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Norican&display=swap');
@import "tailwindcss";


.navbar {
    /*Color fondo y letra*/
    background-color: #e37b00;
    color: #681104;

    /*Posición*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /*Flex de elementos del Navbar*/
    display: flex;
    align-items: center;
}

.navbar a {
    /*Fuente de elementos li*/
    font-family: "Dosis", sans-serif;
    font-weight: 600;

    /*Color de texto*/
    color: #681104;
    text-decoration: none;
    transition: all .3s ease;
}

.navbar a:hover {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .3s ease;
}

.navbar ul {
    /*Flex de elementos de la lista*/
    justify-content: end;
    gap: 2rem;

    /*Margenes*/
    margin-right: 1rem;
}

.logo-budin {
    /*Tamaño imagen*/
    width: 4rem; 
}

.titulo-empresa {
    /*Fuente de titulo*/
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 1.7rem;

    /*Margenes*/
    margin-right: auto;
}

@media (min-width: 360px) and (max-width: 768px) {

    .navbar {
        z-index: 3;
    }

    .titulo-empresa {
        font-size: 1.2rem;
    }

    .boton-hamburguesa {
        background-color: #e37b00;
    }

    .mobile-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #e37b00;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;

        /* Animación slide down */
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 2;
    }

    .mobile-menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        background-color: #e37b00;
    }
    
}